@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans+Caption:wght@700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-*: initial;
    --spacing: 10px;

    --color-white: #ffffff;
    --color-blue-100: #7ea4d7;
    --color-blue-200: #2c85fc;
    --color-blue-330: #2266c1;
    --color-blue-400: #0d284c;
    --color-cyan-100: #2debfc;
    --color-cyan-200: #187d86;
    --color-cyan-300: #0e474c;
    --color-gray-100: #e9eaec;
    --color-gray-200: #d3d5d9;
    --color-gray-300: #93979e;
    --color-gray-400: #20242c;
    --color-gray-500: #16181d;
    --color-gray-600: #14161a;
    --color-gray-700: #101216;
    --color-gray-800: #0b0c0f;

    --font-heading: "PT Sans Caption", sans-serif;
    --font-body: "Inter", sans-serif;
    --heading-lineheight: 120%;
    --body-lineheight: 150%;

    --text-heading-hg: 48px;
    --text-heading-xl: 32px;
    --text-heading-lg: 28px;
    --text-heading-md: 24px;
    --text-heading-sm: 20px;
    --text-heading-xs: 16px;
    --text-body-md: 16px;
    --text-body-sm: 14px;
    --text-body-xs: 12px;
    --text-body-tag: 12px;
    --text-action-md: 16px;
    --text-action-sm: 14px;

    --text-heading-hg--line-height: var(--heading-lineheight);
    --text-heading-lg--line-height: var(--heading-lineheight);
    --text-heading-md--line-height: var(--heading-lineheight);
    --text-heading-sm--line-height: var(--heading-lineheight);
    --text-heading-xs--line-height: var(--heading-lineheight);
    --text-body-md--line-height: var(--body-lineheight);
    --text-body-sm--line-height: var(--body-lineheight);
    --text-body-xs--line-height: var(--body-lineheight);

    --text-body-tag--font-weight: 500;
    --text-action-md--font-weight: 500;
    --text-action-sm--font-weight: 500;
}

@layer utilities {
    .text-body-tag {
        @apply uppercase;
    }
}
